
<div class="container-fluid">
    <!--<nav class="navbar navbar-expand-md navbar-dark bg-dark">-->
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: lightskyblue; padding-left: 0;">
        <div class="navbar-header">
            <a id="logo" class="navbar-brand" href="#"><img src="assets/img/logo5.jpg" alt="logo" width="80em" height="63em"></a>
          </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto disabled" href="#" style="color: darkblue;">Profile for {{_role}}: {{_currentUser.name}} {{_currentUser.surname}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <!--<a class="nav-link" [routerLink]="" (click)="backToHomepage()">Back to homepage</a>-->
                    <button class="btn btn-outline-secondary" (click)="backToHomepage()" style="color:darkblue;margin: 4px">Back to homepage</button>
                </li>
                <li class="nav-item">
                    <!--<a class="nav-link" [routerLink]="" (click)="clickedLogout()">Log out</a>-->
                    <button class="btn btn-outline-secondary" (click)="clickedLogout()" style="color:darkblue;margin: 4px">Log out</button>
                </li>
            </ul>
        </div>
    </nav>
    <div *ngIf="_showInfo" style="width: 50%;margin-left: auto;margin-right: auto;">
        <h2>Personal information</h2>
        <table class="table" style="margin-left:auto;margin-right:auto;">
            <tbody>
                <tr>
                    <th style="background-color: skyblue;">First name:</th>
                    <td>{{_currentUser.name}}</td>
                </tr>
                <tr>
                    <th style="background-color: skyblue;">Last name:</th>
                    <td>{{_currentUser.surname}}</td>
                </tr>
                <tr>
                    <th style="background-color: skyblue;">Email:</th>
                    <td>{{_currentUser.email}}</td>
                </tr>
                <tr>
                    <th style="background-color: skyblue;">Serial number:</th>
                    <td>{{_currentUser.serialNumber}}</td>
                </tr>
                <tr>
                    <th style="background-color: skyblue;">Address:</th>
                    <td>{{_currentUser.address}}</td>
                </tr>
                <tr>
                    <th style="background-color: skyblue;">City:</th>
                    <td>{{_currentUser.city}}</td>
                </tr>
                <tr>
                    <th style="background-color: skyblue;">Country:</th>
                    <td>{{_currentUser.country}}</td>
                </tr>
                <tr>
                    <th style="background-color: skyblue;">Phone number:</th>
                    <td>{{_currentUser.phoneNumber}}</td>
                </tr>
            </tbody>
        </table>
        <button style="margin-right: 15%;margin-left:15%;width:13em;background-color: darkslategray;" class="btn btn-primary" (click)="clickedEdit()">Update information</button>
        <button style="margin-right: auto;margin-left: auto;width:13em;background-color: darkslategray;" class="btn btn-primary" (click)="clickedChangePassword()">Change password</button>      
  </div>
  
  </div>
