<div class="container-fluid">

    <nav class="navbar navbar-expand-md navbar-light" style="background-color: lightgreen;">
        
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto disabled" href="#">Profile page for clinic administrator: {{_currentAdmin.name}} {{_currentAdmin.surname}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="" (click)="clickedLogout()">Log out</a>
                </li>
            </ul>
        </div>
    </nav>

    <ul class="nav flex-column nav-pills" style="width: 20%; color: blue; background-color: lightgreen; float:left;">   
        <li class="nav-item">
            <a class="nav-link" [routerLink] = "" (click) = "clickedClinicProfile()" >Clinic's profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">List of doctors</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" >List of exam rooms</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Types of medical exams</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Create terms for medical exams</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#" >Business report</a>
        </li>
    </ul>

    <div *ngIf="_showInfo" style="width: 50%;margin-left: 15%;float:left;">
        <h2>Personal information</h2>
        <table class="table" style="margin-left:auto;margin-right:auto;">
            <tbody>
                <tr>
                    <th>Name:</th>
                    <td>{{_currentAdmin.name}}</td>
                </tr>
                <tr>
                    <th>Surname:</th>
                    <td>{{_currentAdmin.surname}}</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>{{_currentAdmin.email}}</td>
                </tr>
                <tr>
                    <th>Serial number:</th>
                    <td>{{_currentAdmin.serialNumber}}</td>
                </tr>
                <tr>
                    <th>Address:</th>
                    <td>{{_currentAdmin.address}}</td>
                </tr>
                <tr>
                    <th>City:</th>
                    <td>{{_currentAdmin.city}}</td>
                </tr>
                <tr>
                    <th>Country:</th>
                    <td>{{_currentAdmin.country}}</td>
                </tr>
                <tr>
                    <th>Phone number:</th>
                    <td>{{_currentAdmin.phoneNumber}}</td>
                </tr>
            </tbody>
        </table>
        <button style="margin-right: 15%;margin-left:15%;" class="btn btn-primary" (click)="clickedEdit()">Edit information</button> <button style="margin-right: auto;margin-left: auto;" class="btn btn-primary" (click)="clickedChangePassword()">Change password</button>      
  </div>

  <div *ngIf="_showClinic" style="width: 50%;margin-left: 15%;float:left;">
    <h2>General information about the clinic</h2>
    <table class="table" style="margin-left:auto;margin-right:auto;">
        <tbody>
            <tr>
                <th>Name:</th>
                <td>{{_clinic.name}}</td>
            </tr>
            <tr>
                <th>Description:</th>
                <td>{{_clinic.description}}</td>
            </tr>
            <tr>
                <th>Address:</th>
                <td>{{_clinic.address}}</td>
            </tr>
        </tbody>
    </table>
    
    <button style="margin-right: 15%;margin-left:15%;" class="btn btn-primary" (click)="clickedEditClinic()">Edit</button> <button style="margin-right: auto;margin-left: auto;" class="btn btn-primary" (click)="clickedBack()">Back</button>      
</div>


</div>





