h2{
    text-align: center;
}
form{
    width:30vw;
    margin-left: auto;
    margin-right:auto;
    margin-top: 5%;
}

button{
    display:inline-block;
    margin-right: 3%;
}

#pError{
    color: red;
}