<div *ngIf="_showList" style="float:left;margin-top:2em;margin-left:10em;">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Serial number</th>
            <th scope="col">Email</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patient of _patients;let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{patient.name}}</td>
            <td>{{patient.surname}}</td>
            <td>{{patient.serialNumber}}</td>
            <td>{{patient.email}}</td>
            <!--<td><a [routerLink]="[{ outlets: { hpDoctor: ['patientDetails' , patient.id] } }]">See details...</a></td>-->
            <td><a [routerLink]="" (click)="showDetails(patient.id)">See details...</a></td>
        
          </tr>
        </tbody>
      </table>
  </div>
  <div *ngIf="_showPatient" style="float:left;margin-top:2em;margin-left:10em;width:40%;">
    <h3 style="text-align: center;">Patient: {{_currentPatient.name}}  {{_currentPatient.surname}}</h3>
    <table class="table" style="width:100%">
      <tr><td><b>Serial number:</b></td><td>{{_currentPatient.serialNumber}}</td></tr>
      <tr><td><b>Email:</b></td><td>{{_currentPatient.email}}</td></tr>
      <tr><td><b>Address:</b></td><td>{{_currentPatient.address}}</td></tr>
      <tr><td><b>City:</b></td><td>{{_currentPatient.city}}</td></tr>
      <tr><td><b>Country:</b></td><td>{{_currentPatient.country}}</td></tr>
      <tr><td><b>Phone number:</b></td><td>{{_currentPatient.phoneNumber}}</td></tr>
    </table>
    <button style="float: left;width:5em;" type="button" class="btn btn-primary btn-sm" [routerLink] = "['/patientHP', _currentPatient.id]" >Profile</button>
    <button style="float: right;width:5em;" type="button" class="btn btn-primary btn-sm" (click)="goBack()">Back</button>
  </div>
  
