<div class="container-fluid">

    <nav class="navbar navbar-expand-md navbar-light" style="background-color: lightskyblue; padding-left: 0;">
        <div class="navbar-header">
            <a id="logo" class="navbar-brand" href="#"><img src="assets/img/logo5.jpg" alt="logo" width="80em" height="63em"></a>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto disabled" href="#" style="color:darkblue">Clinic administrator: {{_currentAdmin.name}} {{_currentAdmin.surname}} - Searching rooms for reservation</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <!--<a class="nav-link" [routerLink]="" (click)="clickedBack()">Back</a>-->
                    <button class="btn btn-outline-secondary" (click)="clickedBack()"style=" margin: 4px" > Back </button>

                </li>
            </ul>
        </div>
    </nav>
    <div *ngIf="_showInfo" class="card" style="float:left;width:30%;margin-right:4em;">
        <div class="card-body">
             <h4 class="card-title">Medical exam request</h4>
             <p>Date: {{_examStart.date[2]}}/{{_examStart.date[1]}}/{{_examStart.date[0]}}</p>
             <p>Time: {{formatTime(_examStart.startTime)}}</p>
             <p>Duration: 1h</p>
             <p>Exam type: {{_examStart.examTypeName}}</p>
             <p>Patient: {{_examStart.fullNamePatient}}</p>
             <p>Doctor: {{_examStart.doctor.fullName}}</p>
             <hr>
        </div>
        <div class="card-body">
        <h4>Note:</h4>   
        <p>There are created terms for rooms and doctors for current week and the next week.</p>
        <p>So if you can't find any free term for room and doctors who can perform this type of exam,
            you should reject the patient's request for medical exam.
        </p>
        <button id="btn-reject" class="btn btn-danger" (click)="rejectExam()">Reject</button>
        </div>
    </div>
    <div *ngIf="_showAvailable" class="card" style="width:60%;margin-left: 2em;">
       <div class="card-body">
           <h4 class="card-title" style="color: green;">There are available rooms for the requested date and time:</h4>
           <table id="table-exam-rooms-success" class="table table-striped">
                <thead>
                    <tr>
                        <th style="width:20%;">Name</th>
                        <th style="width:20%;">Number</th>
                        <th style="width:15%;">Date</th>
                        <th style="width:20%;">Time</th>
                        <th style="width:15%;">Reserve</th>
                        <th style="width:10">Calendar</th>
                    </tr>
                </thead> 
                <tbody>
                    <tr *ngFor="let room of _availableRooms">
                        <td>{{room.name}}</td>
                        <td>{{room.number}}</td>
                        <td>{{room.date[2]}}/{{room.date[1]}}/{{room.date[0]}}</td>
                        <td>{{formatTime(room.startTime)}}-{{formatTime(room.endTime)}}</td>
                        <td><button name="btn-reserve" class="btn btn-primary" style="background-color: green;" (click)="reserveRoom(room)">Reserve</button></td>
                        <td><button class="btn btn-primary" (click)="seeCalendar(room)">Calendar</button></td>
                    </tr>
                </tbody>  
           </table>
       </div> 
    </div>
    <div *ngIf="_showNoAvailable" class="card" style="width:65%;margin-left: 2em;">
        <div class="card-body">
            <h4 class="card-title" style="color: red;">There are no available rooms for the requested date and time:</h4>
            <h5 class="card-title">Please search for room and check the earliest free term for doctor and room:</h5>
            <form class="col white" (ngSubmit) = "searchFreeTerms()" #searchFreeTermsForm="ngForm" style="border-style: solid;border-color: lightskyblue;">
                <div class="row">
                  <div class="input-field col">
                    <input class="form-control" type="text" placeholder="Enter room's name" [(ngModel)]="_roomNameSearch"  name="roomName" autocomplete="off">
                  </div>
                  <div class="input-field col">
                    <input class="form-control" type="text" placeholder="Enter room's number" [(ngModel)]="_roomNumberSearch" name="roomNumber" autocomplete="off" pattern="^[0-9]+">
                  </div>
                  <div class="input-field col">
                    <div class="input-group">
                        <input class="form-control" placeholder="Choose a date"
                               name="dp" [(ngModel)]="_dateSearch" ngbDatepicker #d="ngbDatepicker" autocomplete="off" required>
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                        </div>
                      </div>
                </div>
                <div class="input-field col">
                    <ng-select style="margin: 0.7em;"  [items]="_doctors"
                      bindLabel="fullName"
                      placeholder="Select a doctor"
                      appendTo="body"
                      [(ngModel)]="_doctorSearch" #doctor name="doctor" required>
                    </ng-select>
                </div> 
                </div>       
                <button class="btn btn-primary" style="width:7em;margin-right:1em;margin-bottom:1em;" type="submit" [disabled]="!searchFreeTermsForm.form.valid">Search</button>
                <button class="btn btn-primary" style="width:7em;margin-right:1em;margin-bottom:1em;" type="button" (click)="reset()">Reset</button>
                
                </form>
            <table class="table table-striped">
                 <thead>
                     <tr>
                         <th style="width:20%;">Name</th>
                         <th style="width:20%;">Number</th>
                         <th style="width:15%;">Date</th>
                         <th style="width:30%;">Time</th>
                         <th style="width:15%;">Reserve</th>
                         <th style="width:10">Calendar</th>
                     </tr>
                 </thead> 
                 <tbody>
                     <tr *ngFor="let room of _foundRooms">
                         <td>{{room.name}}</td>
                         <td>{{room.number}}</td>
                         <td>{{room.date[2]}}/{{room.date[1]}}/{{room.date[0]}}</td>
                         <td>{{formatTime(room.startTime)}}-{{formatTime(room.endTime)}}</td>
                         <td><button  class="btn btn-primary" style="background-color: green;" (click)="reserveRoom(room)">Reserve</button></td>
                         <td><button class="btn btn-primary" (click)="seeCalendar(room)">Calendar</button></td>
                     </tr>
                 </tbody>  
            </table>
        </div> 
     </div>

    </div>
    <notifier-container></notifier-container>
