<form class="col" (ngSubmit) = "searchClinics()" #searchDoctorsForm="ngForm">
    <div class="row topMargin">

      <div class="sel">
        <ng-select  [items]="_examTypes" bindLabel="name" placeholder="Select exam type"
         [(ngModel)]="_selectedType" name="type" required> </ng-select>
      </div>
      <div>
        <div class="input-group">
          <input class="form-control sel2" placeholder="Choose a date"
                 name="dp" [(ngModel)]="_date" ngbDatepicker #d="ngbDatepicker" autocomplete="off" required>
          <div class="input-group-append ">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
      </div>
      
      <div>
        <div class="leftMargin20">
            <button class="btn btn-primary"  type="submit"
            [disabled]="!searchDoctorsForm.form.valid">Search</button>
          <button class="btn btn-primary"  type="reset" (click)="reset()">Reset</button>
        </div>    
    </div>
    </div>
  
    </form>

<div class="container-board">
    <div class="row">

        <mat-spinner class="spinner" *ngIf="showSpinner" > Searching </mat-spinner> 
        <p class="searching" *ngIf="showSpinner" > <b>Searching </b> </p>
      
  
  
        <div class="col" *ngFor="let clinic of _clinics;">
            <div class="container-fluid">
                <img src="https://sb-content-file.s3-ap-northeast-1.amazonaws.com/smallbridge_favicon.png"
                    height="80px">
                <h2>{{clinic.name}}</h2>
                <h5>{{clinic.address}}</h5>
                <p>{{clinic.description}} <br>
                    Rating:

                    <ng-template #t let-fill="fill">
                        <span class="stars" [class.full]="fill === 100">
                            <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                        </span>
                    </ng-template>

                    <ngb-rating [(rate)]="clinic.rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating> <br>
                    Reviews: {{clinic.numberOfReviews}}

                </p>
                <button class="btn btn-primary" (click) = readMore() title="Show available doctors!">Doctors </button>
                <button class=" btn btn-primary leftMargin20" title = "Show clinic profile!" (click)="showClinicProfile(clinic.id)">Profile</button>
            </div>
        </div>


    </div>
    <div class="row">
        <button class="btn btn-primary" *ngIf="startIndex > 3 " (click)="previousClinics()" title = "Show previous clinics"> {{leftArrow}} </button>
        <div class="col"></div>
        <div class="col"></div>
        <button class=" btn btn-primary" *ngIf="numberOfClinics>startIndex" (click)="nextClinics()" title = "Show next clinics ">{{rightArrow}}</button>

    </div>


</div>
<div class="row listOfDoctors"  *ngIf="showDoctors">
    <div><app-doctors-list ></app-doctors-list> </div> 

  
    
</div>

<div class="row" id="search" *ngIf="false">
    <div class="col">

    </div>
    <div class="col">

    </div>
    <div class="col">
        <div class="ngb-dp-day ngb-dp-today">

            <!-- day cell content omitted -->
        </div>
        <ngb-datepicker [minDate]="{year: 2010, month: 1, day: 1}" [maxDate]="{year: 2048, month: 12, day: 31}">

        </ngb-datepicker>


    </div>
    <div class="col">



    </div>
    <div class="col">




    </div>
    <div class="col">

    </div>

</div>
