<div class="container-board">
    Numberof Clinics = {{numberOfClinics}}
    <div class="row">
        <mat-spinner class="spinner" *ngIf="showSpinner"></mat-spinner>


        <div class="col" *ngFor="let clinic of _clinics;">
            <div class="container-fluid">
                <img src="https://sb-content-file.s3-ap-northeast-1.amazonaws.com/smallbridge_favicon.png"
                    height="80px">
                <h2>{{clinic.name}}</h2>
                <h5>{{clinic.address}}</h5>
                <p>{{clinic.description}} <br>
                    Rating:

                    <ng-template #t let-fill="fill">
                        <span class="stars" [class.full]="fill === 100">
                            <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                        </span>
                    </ng-template>

                    <ngb-rating [(rate)]="clinic.rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating> <br>
                    Reviews: {{clinic.numberOfReviews}}

                </p>
                <button class="doctorsBtn" (click) = readMore() title="Show available doctors!">Doctors </button>
                <button class="leftMargin20" title = "Show clinic profile!">Profile</button>
            </div>
        </div>


    </div>
    <div class="row">
        <button class="btnNext" *ngIf="startIndex > 3 " (click)="previousClinics()" title = "Show previous clinics"> {{leftArrow}} </button>
        <div class="col"></div>
        <div class="col"></div>
        <button class="btnNext" *ngIf="numberOfClinics>startIndex" (click)="nextClinics()" title = "Show next clinics ">{{rightArrow}}</button>

    </div>


</div>
<div class="row listOfDoctors"  *ngIf="showDoctors">
    <div><app-doctors-list ></app-doctors-list> </div> 

  
    
</div>

<div class="row" id="search" *ngIf="false">
    <div class="col">

    </div>
    <div class="col">

    </div>
    <div class="col">
        <div class="ngb-dp-day ngb-dp-today">

            <!-- day cell content omitted -->
        </div>
        <ngb-datepicker [minDate]="{year: 2010, month: 1, day: 1}" [maxDate]="{year: 2048, month: 12, day: 31}">

        </ngb-datepicker>


    </div>
    <div class="col">



    </div>
    <div class="col">




    </div>
    <div class="col">

    </div>

</div>
