<div class="container-fluid">

    <nav class="navbar navbar-expand-md navbar-light" style="background-color: lightgreen;">
        
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto disabled" href="#">Profile page for clinical center administrator: {{_currentAdmin.name}} {{_currentAdmin.surname}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf='newRequests'>
                    <a class="nav-link" [routerLink]="" (click)="clickNewRequest('custom-modal-2')" style="color: red;">New requests for registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="" (click)="clickedLogout()">Log out</a>
                </li>
            </ul>
        </div>
    </nav>

    <ul class="nav flex-column nav-pills" style="width: 20%; color: blue; background-color: lightgreen; float:left;">   
        <li class="nav-item">
          <a class="nav-link" href="#">Medication Codebook</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Diagnosis Codebook</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="" (click)="clickRegisterClCAdmin()" >Register clinical center administrator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="" (click)="clickRegisterClinicAdmin()" >Register clinic administrator</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="" (click)="clickRegisterClinic()">Register clinic</a>
        </li>
    </ul>
    

    <div class='panel panel-primary' *ngIf = '!showNewRequests'>
        <div class='panel-body'>
            <div class='table-responsive'>
                <table class='table'>
                    <tr><th style="text-align: center;" colspan="2"> {{ editInformation ? 'Personal Information' : 'Change your current information' }} </th> </tr>
                    <tr><th>Name:</th> <td *ngIf='editInformation'> {{_currentAdmin.name}} </td> <td *ngIf='!editInformation'> <input type="text" [(ngModel)]='_changedAdmin.name'> </td> </tr> 
                    <tr><th>Surname:</th> <td *ngIf='editInformation'> {{_currentAdmin.surname}} </td> <td *ngIf='!editInformation'> <input type="text" [(ngModel)]='_changedAdmin.surname'> </td> </tr> 
                    <tr><th>Email:</th> <td> {{_currentAdmin.email}} </td> </tr>
                    <tr><th>Address:</th> <td *ngIf='editInformation'> {{_currentAdmin.address}} </td> <td *ngIf='!editInformation'> <input type="text" [(ngModel)]='_changedAdmin.address'> </td> </tr>  
                    <tr><th>City:</th> <td *ngIf='editInformation'> {{_currentAdmin.city}} </td> <td *ngIf='!editInformation'> <input type="text" [(ngModel)]='_changedAdmin.city'> </td> </tr>   
                    <tr><th>Country:</th> <td *ngIf='editInformation'> {{_currentAdmin.country}} </td> <td *ngIf='!editInformation'> <input type="text" [(ngModel)]='_changedAdmin.country'> </td> </tr> 
                    <tr><th>Phone Number:</th> <td *ngIf='editInformation'> {{_currentAdmin.phoneNumber}} </td> <td *ngIf='!editInformation'> <input type="text" [(ngModel)]='_changedAdmin.phoneNumber'> </td> </tr>
                    <tr><th>Serial Number:</th> <td> {{_currentAdmin.serialNumber}} </td>  </tr> 
                    <tr> 
                        <td style="text-align: center;" class="b" > <button style="width:10em;margin-right: 5%;margin-left:5%;"  (click)='openModal("custom-modal-1")'> Edit Password </button> </td>
                        <td style="text-align: center;" class="b" > <button style="width:10em;margin-right: 5%;margin-left:5%;" (click)='editInformationF()'> {{ editInformation ? 'Edit Information' : 'Save changes' }}</button></td>    
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class='panel panel-primary' *ngIf = 'showNewRequests' >
            <div class="card" style="background: lightgreen;">
                <div class="card-content">
                    <span class="card-title">New requests for registration: </span>
                </div>
                <table class='table'>
                  <tr> <th>Name</th> <th>Surname</th> <th>Email</th> <th>Address</th> <th>City</th> <th>Country</th> <th style="text-align: center;">Accept</th> <th style="text-align: center;">Reject</th> </tr> 
                  <tr *ngFor="let user of userRequests"> <td>{{user.name}}</td> <td>{{user.surname}}</td> <td>{{user.email}}</td> <td>{{user.address}}</td> <td>{{user.city}}</td> <td>{{user.country}}</td>
                    <td><button style="margin-right: 5%;margin-left:5%;background-color: green;width:8em;" type="button" class="btn btn-primary" (click)='clickAcceptRequest(user.id)' >Accept</button></td>
                    <td><button style="margin-right: 5%;margin-left:5%;width:8em;" type="button"  class="btn btn-danger" (click)='clickRejectRequest(user.id)'>Reject</button></td>
                 </tr>
                  <tr> 
                      <td style="text-align: center; background-color: lightgreen;" > <button style="width:8em;margin-right: 5%;margin-left:5%;" type="button"  class="btn btn-primary" (click)="clickNewRequest()">Back</button></td> 
                
                  </tr>
                </table>
                
            </div>
    </div>
    

</div>


<jw-modal id="custom-modal-1" style="right: 30%; left: 30%;">
    <div class="card" style="background: lightgreen;">
        <div class="card-content">
            <span class="card-title">Change your current password</span>
        </div>
        <form class="col white" (ngSubmit)="closeModalWithSave('custom-modal-1')" #pasForm="ngForm">
            <input class="validate"  type="password" placeholder="Enter your old password here" name="oldPassword"  required [(ngModel)]="_passwordChanger.oldPassword" #oldPassword="ngModel" />
            <small id="oldPswHelp" class="form-text text-muted">Your old password is required.</small>
            <input class="validate"  type="password" placeholder="Enter your new password here" name="newPassword" required minlength="6" [(ngModel)]="_passwordChanger.newPassword" #newPassword="ngModel" />
            <small id="newPswHelp" class="form-text text-muted">New password is required.</small>
            <button type="button" class="btn btn-primary" (click)="closeModal('custom-modal-1');">Back</button>
            <button type="submit" class="btn btn-primary" [disabled]="!pasForm.form.valid" >Save</button>
        </form>
    </div>
</jw-modal>


    



