<div class="container-fluid">

    <nav class="navbar navbar-expand-md navbar-light" style="background-color: lightgreen;">
        
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto disabled" href="#">Profile page for clinical center administrator: {{_currentAdmin.name}} {{_currentAdmin.surname}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="" (click)="clickedLogout()">Log out</a>
                </li>
            </ul>
        </div>
    </nav>

    <ul class="nav flex-column nav-pills" style="width: 20%; color: blue; background-color: lightgreen; float:left;">   
        <li class="nav-item">
          <a class="nav-link" href="#">Requests for registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Codebook</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="" (click)="clickRegisterClCAdmin()" >Register clinical center administrator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Register clinic admin</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Register clinic</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Delete clinical center administrator</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Delete clinic admin</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Delete clinic</a>
        </li>

    </ul>
    

    <div class='panel panel-primary'>
        <div class='panel-body'>
            <div class='table-responsive'>
                <table class='table'>
                    <tr><th style="text-align: center;" colspan="2"> Personal Information: </th> </tr>
                    <tr><th>Name:</th> <td> {{_currentAdmin.name}} </td></tr> 
                    <tr><th>Surname:</th> <td> {{_currentAdmin.surname}} </td></tr> 
                    <tr><th>Email:</th> <td> {{_currentAdmin.email}} </td> </tr>
                    <tr><th>Address:</th> <td> {{_currentAdmin.address}} </td> </tr>  
                    <tr><th>City:</th> <td> {{_currentAdmin.city}} </td></tr>   
                    <tr><th>Country:</th> <td> {{_currentAdmin.country}} </td></tr> 
                    <tr><th>Phone Number:</th> <td> {{_currentAdmin.phoneNumber}} </td></tr>
                    <tr><th>Serial Number:</th> <td> {{_currentAdmin.serialNumber}} </td></tr> 
                    <tr> <td style="text-align: center;" class="b" colspan="2"> <button  (click)='editInformationF()'> {{ editInformation ? 'Edit Information' : 'Save changes' }}</button></td> </tr>
                </table>
            </div>
        </div>
    </div>

</div>



