h2{
    text-align: center;
}
form{
    width:50vw;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 3%;
}

.card{
    width:60vw;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 3%;
}

button{
    display:inline-block;
    margin-right: 3%;
    margin-bottom: 3%;
}
