<div class= "row">

      <table class="table">
   
        <tbody>
          <!--Ovde treba da prolazi kroz drugu listu _doctorsTerms koja pored imena,prezimena,i ocene ima i termine -->
          <ng-container>
            <tr class="startRow" >
              <td style="text-align: center;"> {{doctor.name}} </td>
              <td style="text-align: center;"> {{doctor.surname}} </td>
              <td colspan="2"><star-rating value="{{doctor.rate}}" totalstars="5" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="true" (rate)="onRate($event)"></star-rating></td>
            </tr>
       

           
            <ng-container>
              <tr *ngFor="let appointment of sortedAppointments">
                <td>{{appointment.type}}</td>
                <td>{{appointment.date}}</td>
                <td>{{appointment.time}}</td>
                <td style="text-align: center;"> <button class="btn btn-primary" style="background-color: lightgreen;" (click)="reserveAppointment()">Reserve</button></td>
                
                
              </tr>

           
            </ng-container>
           </ng-container>
      
        </tbody>
      </table>

</div>

