<div class="container-fluid">

    <nav class="navbar navbar-expand-md navbar-light" style="background-color: lightgreen;">
        
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto disabled" href="#">Profile page for clinic administrator: {{_currentAdmin.name}} {{_currentAdmin.surname}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="" (click)="clickedBack()">Back</a>
                </li>
            </ul>
        </div>
    </nav>
    <div style="float: left; width:20%">
    <button class="btn btn-primary" style="background-color: green;width:12em;height:3em;margin:2em;" (click)="addNewRoom()">Add a new room</button>
    <div>
        <form (ngSubmit) = "onClickedSearch(roomForm)" #roomForm="ngForm">
            <b>Name:</b> <input type="text" [(ngModel)]="_searchRoom.name" name="name"  #name="ngModel"/>
            <b>Number:</b> <input type="number" [(ngModel)]="_searchRoom.number" name="number"  #number="ngModel"/>
            <label id="example-radio-group-label">Type</label>
            <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="_searchRoom.roomType" name="type">
            <mat-radio-button class="example-radio-button" *ngFor="let type of types" [value]="type">
                {{type}}
            </mat-radio-button>
            </mat-radio-group>
            <button style="margin-left: auto;margin-right: auto;" type="submit" class="btn btn-primary">Search</button>  
        </form>
      </div>
    </div>
    <div style="width:60%;float: right;">
        <h2 style="text-align: center;">Rooms:</h2>
        <p *ngIf="_showMsg" style="color:red;text-align: center;"><b>Your search did not match any rooms...</b></p>
    <table *ngIf="_showTable" style="width:100%;;">
        <thead>
            <tr>
                <th style="width:35%;">Name</th>
                <th style="width:30%;">Number</th>
                <th style="width:35%;">Type</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let room of _foundRooms">
              <td>{{room.name}}</td>
              <td>{{room.number}}</td>
              <td>{{room.roomType}}</td>
          </tr>  
        </tbody>
    </table>
</div>
</div>






