<div id="div-page" class="container-fluid">
    <div class="container-fluid"  style="padding: 1% "> 
        <nav class="navbar navbar-expand-md navbar-light" style="background-color:  lightskyblue; padding-left: 0;">
            <div class="navbar-header">
                <a id="logo" class="navbar-brand" href="#"><img src="assets/img/logo5.jpg" alt="logo" width="80em" height="63em"></a>
            </div>
            <div class="mx-auto order-0">
                <a class="navbar-brand mx-auto disabled" style="color: darkblue;" href="#">Nurse: {{_currentNurse.name}} {{_currentNurse.surname}}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <button class="btn btn-sm btn-outline-secondary" (click)="clickedProfile()" style="color:darkblue; margin: 4px"> Profile </button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-sm btn-outline-secondary" (click)="clickedLogout()" style="color: darkblue; margin: 4px" > Log out </button>
                    </li>
                </ul>
            </div>
        </nav>
        <ul class="nav flex-column nav-pills" style="color: blue; background-color: lightskyblue;float:left;">
            <li class="nav-item">
                <button class="btn btn-sm btn-outline-secondary" [routerLink]="[{ outlets: { hpNurse: ['listOfPatients'] } }]" style="width: 15em; color:darkblue;" (click)="clickAllPatients()"> All patients </button>
              <!-- <a class="nav-link" [routerLink]="[{ outlets: { hpNurse: ['listOfPatients'] } }]">List of all patients</a>-->
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['/workCalendar']">Work calendar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Absence requests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Prescriptions</a>
            </li>
        </ul>
        <router-outlet name="hpNurse"></router-outlet>
    </div>

  </div>
