<div id="div-page" class="container-fluid">

    <div class="container-fluid"  style="padding: 1% "> 
        <nav aria-disabled="true" class="navbar navbar-expand-md navbar-light" style="background-color:  lightskyblue; padding-left: 0;">
            <div class="navbar-header">
                <a id="logo" class="navbar-brand" href="#"><img src="assets/img/logo5.jpg" alt="logo" width="80em" height="63em"></a>
            </div>
            <div class="mx-auto order-0">
                <a id="name" class="navbar-brand mx-auto disabled" style="color: darkblue;" href="#">Nurse: {{_currentNurse.name}} {{_currentNurse.surname}}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <button class="btn btn-sm btn-outline-secondary" (click)="clickedProfile()" style="color:darkblue; margin: 4px"> Profile </button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-sm btn-outline-secondary" (click)="clickedLogout()" style="color: darkblue; margin: 4px" > Log out </button>
                    </li>
                </ul>
            </div>
        </nav>
        <ul class="nav flex-column nav-pills" style="color: blue; background-color: lightskyblue;float:left;">
            <li class="nav-item">
                <button class="btn btn-sm btn-outline-secondary"  style="width: 20em; color:darkblue;" (click)="showAllPatients()"> All patients </button>
            </li>
            <li class="nav-item">
                <button class="btn btn-sm btn-outline-secondary"  style="width: 20em; color:darkblue;" (click)="clickedWorkCalendar()"> Work calendar </button>
            </li>
            <li class="nav-item">
                <button class="btn btn-sm btn-outline-secondary"  style="width: 20em; color:darkblue;" (click)="showFormRequest()" > Absence request </button>
            </li>
            <li class="nav-item">
                <button class="btn btn-sm btn-outline-secondary"  style="width: 20em; color:darkblue;" (click)="showPrescriptions()" ><span matBadge={{_numOfPrescriptions}} matBadgeOverlap="false"  matBadgeSize="medium" [matBadgeHidden]="_numOfPrescriptions == 0"> Unvalidated prescriptions </span></button>
            </li>
        </ul>

        <div  *ngIf="_showList" style="float:left;margin-left:12%;">
            <h3 style="color:darkblue; text-align:center;margin-top: 1em; margin-bottom: 0.5em;">List of all patients </h3>
                <table class="table" >
                    <thead >
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">Serial number</th>
                        <th scope="col">Email</th>
                        <th scope="col">Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let patient of _patients;let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{patient.name}}</td>
                        <td>{{patient.surname}}</td>
                        <td>{{patient.serialNumber}}</td>
                        <td>{{patient.email}}</td>
                        <td><a [routerLink]="" (click)="showDetails(patient.id)">See details...</a></td>
                    </tr>
                    </tbody>
                </table>
                <button style="width:7em;" type="button" class="btn btn-primary" (click)="clickedBack()">Back</button>
        </div>
    
        <div *ngIf="_showPatient" style="float:left;margin-left:12%; margin-top: 5%;width:40%;">
            <table class="table" style="width:100%">
                <tr> <th style="text-align: center;" colspan="2"> <b> <h4>Patient: {{_currentPatient.name}}  {{_currentPatient.surname}}</h4> </b> </th> </tr>
                <tr><th><b>Serial number:</b></th><td>{{_currentPatient.serialNumber}}</td></tr>
                <tr><th><b>Email:</b></th><td>{{_currentPatient.email}}</td></tr>
                <tr><th><b>Address:</b></th><td>{{_currentPatient.address}}</td></tr>
                <tr><th><b>City:</b></th><td>{{_currentPatient.city}}</td></tr>
                <tr><th><b>Country:</b></th><td>{{_currentPatient.country}}</td></tr>
                <tr><th><b>Phone number:</b></th><td>{{_currentPatient.phoneNumber}}</td></tr>
            </table>
            <!--<button style="float: left;width:7em;" type="button" class="btn btn-primary btn-sm" [routerLink] = "['/patientHP', _currentPatient.id]" >Profile</button>-->
            <button style="width:7em;" type="button" class="btn btn-primary btn-sm" (click)="goBack()">Back</button>
        </div>
    
        <div class='panel panel-primary' *ngIf ='_showPrescriptions'>
            <div class='panel-body' style="width:80%">
                <div class='table-responsive' style="margin-bottom: 5%; margin-top: 5%; width: 80%;">
                    <h3 style="color:darkblue; text-align:center;margin-top: 0.5em; margin-bottom: 0.5em;"> Unverified prescriptions  </h3>
                    <table class='table'>
                        <tr><th style="text-align: center;" colspan="2"> Patient </th>  <th style="text-align: center;" colspan="2"> Doctor </th> <th style="text-align: center;" colspan="3"> Medication </th>  </tr>
                        <tr> <th style="text-align: center;"> Name</th> <th style="text-align: center;"> Surname</th> <th style="text-align: center;"> Name</th> <th style="text-align: center;"> Surname</th> <th style="text-align: center;">Code</th> <th style="text-align: center;">Description</th> <th style="text-align: center;"> Verify </th> </tr> 
                        <tr *ngFor="let p of _prescriptions"> <td>{{p.patient.name}}</td> <td>{{p.patient.surname}}</td>  <td>{{p.doctor.name}}</td> <td>{{p.doctor.surname}}</td>  <td>{{p.medication.code}}</td> <td>{{p.medication.description}}</td> 
                            <td><button style="margin-right: 5%;margin-left:5%;background-color: green;width:6em;" type="button" class="btn btn-primary" (click)='clickVerify(p)'>Verify</button></td>
                        </tr>
                    </table>
                    <button style="width:6em;margin-right: 5%;margin-left:5%;  background-color: darkslategray;" type="button"  class="btn btn-primary" (click)="clickedBack()">Back</button>
                </div>
            </div>
        </div>
    
        <div *ngIf="_showFormRequest" style="width: 60%; margin-left: 5%;float:left;">
            <h3 style="text-align:center;margin-top: 0.5em; margin-bottom: 0.5em; color:darkblue">Send request for absence</h3>
            <form style="margin:auto;background-color:lightskyblue;width:70%;padding:1em;" #absenceForm="ngForm" (ngSubmit) = "sendRequestAbsence()">
                <mat-form-field style="margin-left:35%;">
                    <mat-label>Type of absence</mat-label>
                    <mat-select  [(ngModel)]="_selectedType" name="typeAbsence"  required>
                       <mat-option  *ngFor="let type of _typesAbsence" [value]="type.value">
                         {{type.viewValue}}
                       </mat-option>
                    </mat-select>
                </mat-form-field>
                <ngb-datepicker style="margin-left:7%;background-color: white;" #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
                </ngb-datepicker>
                
                <ng-template #t let-date let-focused="focused">
                  <span class="custom-day"
                        [class.focused]="focused"
                        [class.range]="isRange(date)"
                        [class.faded]="isHovered(date) || isInside(date)"
                        (mouseenter)="hoveredDate = date"
                        (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                  </span>
                </ng-template>
                <button class="btn btn-primary" style="background-color: green;margin-top:1em;margin-right:2em;width:6em;" type="submit" [disabled]="!absenceForm.form.valid">Send</button>
                <button class="btn btn-primary" style="background-color: red;margin-top:1em;margin-right:2em;width:6em;" type="reset" (click)="cancelAbsence()">Cancel</button>
            </form>
      </div>

    </div>
    <notifier-container></notifier-container>
  </div>
