<h1 mat-dialog-title>Password change</h1>
<div mat-dialog-content>
  <form  #passwordForm="ngForm">
      <table>
          <tr><td><b>Please enter your old password:</b></td><td><input type="password" [(ngModel)] = 'data.oldPassword' name="oldUsername" required></td></tr>
          <tr><td><b>Please enter your new password:</b></td><td><input type="password" [(ngModel)] = 'data.newPassword' name="newUsername" required minlength="6"></td></tr>
          <tr><td><b>Please confirm your new password:</b></td><td><input type="password" [(ngModel)] = '_confirmPassword' name="confirmPassword" required min="6" [pattern]="data.newPassword"></td></tr>
      </table>
</form>
</div>
<div mat-dialog-actions>
  <button type="submit" class="btn btn-success" mat-button [mat-dialog-close]="data" [disabled]="!passwordForm.form.valid">Change</button>
  <button type="button" class="btn btn-danger" mat-button (click)="Cancel()">Cancel</button>
</div>
