<div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto disabled" href="#">Home page for doctor: {{_currentDoctor.name}} {{_currentDoctor.surname}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/medicalStaffProfile']">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="" (click)="clickedLogout()">Log out</a>
                </li>
            </ul>
        </div>
    </nav>
    <ul class="nav flex-column bg-dark" style="width: 20%;color: azure;float:left;">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[{ outlets: { hpDoctor: ['listOfPatients'] } }]">List of all patients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Start a medical exam</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Work calendar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Absence requests</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Medical exams and surgeries</a>
          </li>
      </ul>
      <router-outlet name="hpDoctor"></router-outlet>
      
  </div>
